<h1>Registrar</h1>
<form action="/usuarios/registrar" method="post">
    <div>
        <label for="nome">Nome</label>
        <input type="text" name="nome" id="nome">
    </div>
    <div>
        <label for="sobrenome">Sobrenome</label>
        <input type="text" name="sobrenome" id="sobrenome">
    </div>
    <div>
        <label for="email">E-mail</label>
        <input type="email" name="email" id="email">
    </div>
    <div>
        <label for="senha">Senha</label>
        <input type="password" name="senha" id="senha">
    </div>
    <div>
        <label for="tipoDocumento">Tipo de documento</label>
        <select type="text" name="tipoDocumento" id="tipoDocumento">
            <option value="cpf">CPF</option>
            <option value="cnpj">CNPJ</option>
        </select>
    </div>
    <div>
        <label for="documento">Documento</label>
        <input type="text" name="documento" id="documento">
    </div> 
    <div>
        <button action="submit">Registrar</button>
    </div>
</form>
<a href="/login">Login</a>